{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel ='stylesheet' type='text/css' href="{% static 'css/login.css' %}">
{% endblock customcss %}

{% block content %}
<div class='login-form'>
<form class="form-signin" method="POST" action=''>{% csrf_token %}
<img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="failed to get pictures" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
{% if error %}
{{ error }}
{%  endif %}

{{ form.username }}
{{ form.password1 }}
{{ form.password2 }}
<button class="btn btn-lg btn-success btn-block" type = "submit">Sign Up</button>
<div>
{% endblock content %}
